# Compiled Object files
*.slo
*.lo
*.o

# Executables
compres
decompres

# Eclipse Project files
.project
.cproject
.settings
Debug

# IDEA/CLion Project files
.idea
cmake-build-debug/

CMake Project files
CMakeCache.txt
CMakeFiles/
Makefile
cmake_install.cmake
install_manifest.txt

# Linux desktop files
.directory
